{% extends 'templates/index.html' %}

{% block content %}
  <form action="/series/store">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="year">Año</label>
      <input type="number" id="year" name="year" required>
    </div>
    <div class="form-group">
      <label for="rate">Calificación</label>
      <input type="number" id="rate" name="rate" required>
    </div>
    <div class="float-button">
      <div class="form-group">
        <input class="paper-btn btn-secondary" type="submit" value="Crear">
      </div>
    </div>
  </form>
{% endblock %}
