{% extends 'templates/index.html' %}

{% block content %}
  <form action="/series/{{serie.id}}/update">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" value="{{serie.name}}" name="name" required>
    </div>
    <div class="form-group">
      <label for="rate">Calificación</label>
      <input type="number" id="rate" value="{{serie.rate}}" name="rate" required>
    </div>
    <div class="form-group">
      <label for="episodes">Episodios</label>
      <input type="number" id="episodes" value="{{serie.episodes}}" name="episodes" required>
    </div>
    <div class="form-group">
      <label for="mal_link">Link</label>
      <input type="text" id="mal_link" value="{{serie.malLink}}" name="mal_link" required>
    </div>
    <div class="form-group">
      <label for="mal_img">Imagen</label>
      <input type="text" id="mal_img" value="{{serie.malImg}}" name="mal_img" required>
    </div>
    <div class="float-button">
      <div class="form-group">
        <input type="submit" class="paper-btn btn-secondary" value="Actualizar">
      </div>
    </div>
  </form>
{% endblock %}
