{% extends 'templates/index.html' %}

{% block content %}
  <form action="/series/{{serie.id}}/update">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" value="{{serie.name}}" name="name" required>
    </div>
    <div class="form-group">
      <label for="year">Año</label>
      <input type="number" id="year" value="{{serie.year}}" name="year" required>
    </div>
    <div class="form-group">
      <label for="rate">Calificación</label>
      <input type="number" id="rate" value="{{serie.rate}}" name="rate" required>
    </div>
    <div class="float-button">
      <div class="form-group">
        <input type="submit" class="paper-btn btn-secondary" value="Actualizar">
      </div>
    </div>
  </form>
{% endblock %}
