<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <td>nombre</td>
        <td>año</td>
        <td>rate</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    {% for serie in series %}
      <tr>
        <td>{{serie.name}}</td>
        <td>{{serie.year}}</td>
        <td>{{serie.rate}}</td>
        <td><a href="/series/{{serie.id}}/edit"> editar</a></td>
        <td><a href="/series/{{serie.id}}/delete"> borrar</a></td>
      </tr>
    {% endfor %}
      <a href="/series/create">nuevo</a>
  </table>
</body>
</html>
