{% extends 'templates/index.html' %}

{% block content %}
  <div class="row">
    {% for serie in series %}
      <div class="col col-3">
        <div class="card">
          <!--img src="https://picsum.photos/768" alt="Card example image"-->

          <div class="card-body">
            <h4 class="card-title">{{serie.name}}</h4>
            <h5 class="card-subtitle">Estranda: {{serie.year}}</h5>
            <p class="card-text">
              <span class="rate" data-rate="{{serie.rate}}"></span>
            </p>
            <a href="/series/{{serie.id}}/edit" class="text-secondary"> editar</a>
            <a href="/series/{{serie.id}}/delete" class="text-danger"> borrar</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="float-button">
    <a href="/series/create" class="paper-btn btn-success">nuevo</a>
  </div>
{% endblock %}
