<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/calc/op">
    <div>
      <label for="a">a</label>
      <input type="number" name="a" id="a">
    </div>
    <div>
      <label for="b">b</label>
      <input type="number" name="b" id="b">
    </div>
    <div>
      <label><input type="radio" name="op" value="+"> <span>+</span></label>
      <br>
      <label><input type="radio" name="op" value="-"> <span>-</span></label>
      <br>
      <label><input type="radio" name="op" value="*"> <span>*</span></label>
      <br>
      <label><input type="radio" name="op" value="/"> <span>/</span></label>
      <br>
    </div>
    <div>
      <input type="submit" value="submit">
    </div>
  </form>
</body>
</html>
